<link rel="stylesheet" href="/public/css/gameslist.css">
<!-- Search form -->
<div class="center">
    <form id="game-search" method="POST" action="/games/search">
        <label for="search-type">Search By:</label>
        <select id="search-type" name="searchType" required>
            <option id="title-option" value="title">Title</option>
            <option id="genre-option" value="genre">Genre</option>
            <option id="platform-option" value="platform">Platform</option>
            <option id="price-option" value="price">Price</option>
        </select>
        <label for ="search">Search:</label>
        <input id="search" type="text" name="searchTerm" placeholder="Search for game(s)..." value="{{search_term_value}}">
        <button type="submit">></button>
    </form>
    {{#if error}}
    <div class="center">
        <div class="form-error">
            <p>Error: {{error}}</p>
        </div>
    </div>
    {{/if}}
</div>
<!-- Link to Add New Game page -->
<div class="center">
    <a id="new" href="/games/new">+ Add a New Game</a>
</div>
<!-- Iterate Through Games List collection -->
<ul id="games-list">
    {{#each games}}
    <li class="games">
        <div class="score">
            <span class="score-span">{{averageRating}}</span>
        </div>
        <img src="{{image}}" alt="{{title}}">
        <div class="info">
            <a href="games/{{title}}" class="title">{{title}}</a>
            <p class="subinfo">({{releaseYear}}) <span>{{publisher}}</span></p>
            <table>
                <tr>
                    <th>Genres:</th>
                    <td>{{genres}}</td>
                </tr>
                <tr>
                    <th>Platforms:</th>
                    <td>{{platforms}}</td>
                </tr>
                <tr>
                    <th>Prices:</th>
                    <td>
                        {{#each prices}}
                        {{platform}}: {{price}}
                        {{/each}}
                    </td>
                </tr>
            </table>
        </div>
        <p class="game-desc">
            {{description}}
        </p>
        <div class="actions">
            <p>
                <a><img src="/public/img/like.png" alt="">Like</a> [<span>{{numLikes}}</span>] | 
                <a><img src="/public/img/follow.png" alt="">Follow</a> [<span>{{numFollows}}</span>] | 
                <a><img src="/public/img/wishlist.png" alt="">Wishlist</a> | 
                <a href="games/{{title}}"><img src="/public/img/comment.png" alt="">Leave a Review</a>
            </p>
        </div>
    </li>
    {{/each}}
    {{#if gamesEmpty}}
    <li class="games">
        <div class="center">
            <p id="empty">No games found. Create one above!</p>
        </div>
    </li>
    {{/if}}
</ul>
