<link rel="stylesheet" href="/public/css/user.css">
<div class="user-container">
    {{#if user}}
    <div class="user">
        <h1>{{user.username}}'s Profile</h1>
        <div class="content-container">
            <div id="user-info">
                <p>Name: {{user.firstName}} {{user.lastName}}</p>
                <p>Email: {{user.email}}</p>
            </div>
            <img id="profile-pic" src="/public/img/default_user.jpg" alt="profile pic">
            <div class="update">
                <a id = "editProfile" class = "update" href="/private/edit">Edit Profile</a>
            </div>
        </div>
        <h2>{{user.username}}'s Likes</h2>
        <ul class="like">
            <!-- {{!getGameById this}} -->
            {{#each user.likes}}
                <li class="user-li">
                    <a class="game-link" href="/games/{{_id}}">{{title}}</a>
                </li>
            {{/each}}
        </ul>
        {{#if likesEmpty}}
            <p id="empty">This user has not liked any games.</p>
        {{/if}}
        <h2>{{user.username}}'s Follows</h2>
        <ul class="like">
            <!-- {{!getGameById this}} -->
            {{#each user.follows}}
                <li class="user-li">
                    <a class="game-link" href="/games/{{_id}}">{{title}}</a>
                </li>
            {{/each}}
        </ul>
        {{#if followsEmpty}}
            <p id="empty">This user has not followed any games.</p>
        {{/if}}
        <h2>{{user.username}}'s Wishlist</h2>
            <ul class="wishlist">
                {{#each user.wishlist}}
                    <li class="user-li">
                        <a class="game-link" href="/games/{{_id}}">{{title}}</a>
                    </li>
                {{/each}}
            </ul>
            {{#if wishlistEmpty}}
                <p id="empty">This user has not added any games to their wishlist.</p>
            {{/if}}
        <h2>{{user.username}}'s Reviews</h2>
        <ul class="review">
            {{#each user.reviews}}
             <li class="user-li">
                <a class="game-link" href="/games/{{gameId}}/#{{_id}}">{{gameTitle}}: {{reviewTitle}}</a>
            </li>
            {{/each}}
        </ul>
        {{#if reviewsEmpty}}
            <p id="empty">This user has not written any reviews.</p>
        {{/if}}
    </div>
    {{/if}}
</div>
