<link rel="stylesheet" href="/public/css/user.css">
<div class="user-container">
    {{#if user}}
    <div class="user">
        <h1>{{user.username}}'s Profile</h1>
        <div class="content-container"> 
            <img id="profile-pic" src="/public/img/default_user.jpg" alt="profile pic">
            <p>{{user.firstName}} {{user.lastName}}</p>
            <p>Email: {{user.email}}</p>
        </div>
        <h3>{{user.username}}'s Likes</h3>
        <ul class="like">
            <!-- {{!getGameById this}} -->
            {{#each user.likes}}
                <li class="user-li">
                    <a class="game-link" href="/games/{{_id}}">{{title}}</a>
                </li>
            {{/each}}
        </ul>
        {{#if likesEmpty}}
            <p id="empty">This user has not liked any games.</p>
        {{/if}}
        <h3>{{user.username}}'s Follows</h3>
        {{#each user.follows}}
        <div class="likes">
            <!-- Need route /games/:id -->  
        </div>
        {{/each}}
        {{#if followsEmpty}}
            <p class = "lists">There is no games in Follows.</p>
        {{/if}}
        <h3>{{user.username}}'s Wishlist</h3>
            <ul class="wishlist">
                {{#each user.wishlist}}
                    <li class="user-li">
                        <a class="game-link" href="/games/{{_id}}">{{title}}</a>
                    </li>
                {{/each}}
            </ul>
            {{#if wishlistEmpty}}
                <p id="empty">This user has not added any games to their wishlist.</p>
            {{/if}}
        <h3>{{user.username}}'s Reviews</h3>
        {{#each user.reviews}}
        <div class="review">
            <!-- REVIEWS DISPLAY -->
        </div>
        {{/each}}
        {{#if reviewsEmpty}}
            <p id="empty">This user has not written any reviews.</p>
        {{/if}}
    </div>
    {{/if}}
</div>