<div class="login-container" id = "signup-container">
    <div class="login-header" id = "signup-header">
        <h2>User Sign Up</h2>
    </div>
    <div id = "signupError" class = "signError" hidden>
        
    </div>
    <form method="POST" id="signup-form" action="/signup">
        
        <div class="form-elem">
            <label for="signup_username">Username:</label>
            <input name="signup_username" id="signup_username" type="text" value="{{signup_username}}" placeholder = "Username">
        </div>
        <div class="form-elem">
            <label for="signup_password">Password:</label>
            <input name="signup_password" id="signup_password" type="password" value="{{signup_password}}" placeholder = "password(4-20 characters)">
        </div>
        <div class="form-elem">
            <label for="signup_email">Email:</label>
            <input name="signup_email" id="signup_email" type="email" value="{{signup_email}}" placeholder = "Email">
        </div>
        <div class="form-elem">
            <label for="firstName">First name:</label>
            <input name="firstName" id="firstName" type="text" value="{{firstName}}" placeholder = "First Name">
        </div>
        <div class="form-elem">
            <label for="lastName">Last name:</label>
            <input name="lastName" id="lastName" type="text" value="{{lastName}}" placeholder = "Last Name">
        </div>
        <button type="submit">Sign Up</button>
    </form>
</div>

{{#if error}}
    <div class="login-error">
        <p>Error: {{error}}</p>
    </div>
{{/if}}