<link rel="stylesheet" href="/public/css/user.css">
<div class="user-container">
    {{#if user}}
    <div class="user">
        <h1>{{user.username}}'s Profile</h1>
        <div class="content-container">
            <img id="profile-pic" src="/public/img/default_user.jpg" alt="profile pic">
            <p>{{user.firstName}} {{user.lastName}}</p>
        </div>
        <!-- REVIEWS DISPLAY -->
        <h3>{{user.username}}'s Reviews</h3>
        <ul class="review">
            {{#each user.reviews}}
             <li class="user-li">
                <a class="game-link" href="/games/{{gameId}}">{{gameTitle}}: {{reviewTitle}}</a>
            </li>
            {{/each}}
        </ul>
        {{#if reviewsEmpty}}
            <p id="empty">This user has not written any reviews.</p>
        {{/if}}
        <!-- LIKES DISPLAY -->
        <h3>Liked Games</h3>
        <ul class="like">
            <!-- {{!getGameById this}} -->
            {{#each user.likes}}
                <li class="user-li">
                    <a class="game-link" href="/games/{{_id}}">{{title}}</a>
                </li>
            {{/each}}
        </ul>
        {{#if likesEmpty}}
            <p id="empty">This user has not liked any games.</p>
        {{/if}}
        <!-- FOLLOWS DISPLAY -->
        <h3>Followed Games</h3>
        <ul class="like">
            <!-- {{!getGameById this}} -->
            {{#each user.follows}}
                <li class="user-li">
                    <a class="game-link" href="/games/{{_id}}">{{title}}</a>
                </li>
            {{/each}}
        </ul>
        {{#if followsEmpty}}
            <p id="empty">This user has not liked any games.</p>
        {{/if}}
        <!-- WISHLIST DISPLAY -->
        <h3>Wishlisted Games</h3>
        <ul class="wishlist">
            {{#each user.wishlist}}
                <li class="user-li">
                    <a class="game-link" href="/games/{{_id}}">{{title}}</a>
                </li>
            {{/each}}
        </ul>
        {{#if wishlistEmpty}}
            <p id="empty">This user has not added any games to their wishlist.</p>
        {{/if}}
    </div>
    {{/if}}
</div>
